/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
/*END CSS RESET*/

html{
    height: 100%;
}

body{
    background-image: url(img/bg.png);
    height: 100%;
    font-family: lato;
    min-width: 940px;
    max-width: 1280px;
    margin: 0 auto;
}

#wrapper{
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

#header{
    position: relative;
    padding: 10px;
}

#header h1{
    font-family: cursive;
    font-size: 4em;
    text-align: center;
}

#header img{
    width: 70%;
    display: block;
    margin: 0 auto;
    text-align: center;
}

#content{
    position: relative;
/*    background-color: rgba(203, 203, 203, 0.56);*/
    height: 90%;
}

.pagePreview{
    height: 100%;
/*    background-color: pink;*/
    width: 50%;
    float: left;
}

#cssPreview{
/*    http://stackoverflow.com/questions/1495407/how-to-maintain-the-aspect-ratio-of-a-div-using-only-css*/
    width: 100%;
    padding-bottom: 141.42857143%;
    background-color: white;
    background-image: url(img/pdf.png);
    background-size: 100%;
    
    margin: 0 auto;
    margin-top: 10px;
    box-shadow: 0px 0px 5px grey;;
}

#cssPreview.page{
    position: relative;
}

#cssPreview.page > div{
    postion: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.tools{
/*    height: 100%;*/
    width:50%;
/*    background-color: rgba(157, 157, 157, 0.63);*/
    float: right;
}

.inputPair{
    padding: 20px;
    text-align: right;
}

.inputPair p{
    display: inline;
    margin: 10px;
}

.inputPair input{
    display: inline;
    width: 60%;
}

.inputs{
    margin: 20px;
    height: 90%;
    
}

.inputPair input[type="text"] {
    font-size: 1em;
    padding: 2px 4px;
    font-family: lato;
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
}
.inputPair input[type="text"]:focus{
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
    outline: none;
}


#accordion-resizer {
    padding: 10px;
    width: 90%;
    height: 60%;
    margin: 0 auto;
}

#accordion{
    height: 600px;
}

#accordion div{
    padding: 10px;
}

#accordion h3{
    text-align: center;
    background-color: #c0e9ff;
    padding: 10px;
    margin: 2px;
    border-radius: 5px;
}

#accordion h3:hover{
    cursor: pointer;
}

#accordion h3:focus{
    outline: none;
}

#accordion textarea{
    margin: 0 auto;
    width: 90%;
    height: 250px;
    resize: none;
    display: block;
    font-family: lato;
    font-size: 1.2em;
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
}

#accordion textarea:focus{
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
    outline: none;
}

#accordion .year{
    width: 50px;
    text-align: center;
}

.educationPod{
    border-bottom: solid 1px black;
    margin-bottom: 20px;
}

.educationPod h2{
    font-size: 1.2em;
}

#generateButton {
    width: 100%;
    background: #3ac2ff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin: 2px;
    font-size: 1.2em;
    font-family: lato;
    text-decoration: none;
    text-align: center;
}
#generateButton:hover {
    background: #c0e9ff;
    text-decoration: none;
    cursor: pointer;
}

p{
    padding-bottom: 10px;
}

.hidden{
    display: none;
}
